/* Constants */
/* Imports */
#docker-terminal-emulator {
  padding: 10px;
}
#docker-terminal-emulator .modal.open {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(200, 200, 200, 0.9);
  padding: 10px 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99;
}
#docker-terminal-emulator .modal.open .modal-container {
  max-height: 100%;
  overflow: auto;
  width: 100%;
  padding: 10px;
}
#docker-terminal-emulator .modal.open .modal-container .modal-content {
  position: relative;
  background: #eee;
  width: fit-content;
  margin: 0 auto;
  padding: 10px 20px;
  border: 4px solid #eee;
  box-sizing: border-box;
  box-shadow: 4px 4px 5px -2px black;
}
#docker-terminal-emulator .modal.open .modal-close {
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
}
#docker-terminal-emulator .modal.hide-on-close {
  display: none;
}
#docker-terminal-emulator .modal.hide-on-close.open {
  display: flex;
}
#docker-terminal-emulator .modal .modal-close {
  display: none;
}
#docker-terminal-emulator .connection .buttons {
  flex-basis: 100%;
  margin-bottom: 30px;
}
#docker-terminal-emulator .connection .terminals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#docker-terminal-emulator .projects .projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 0;
}
#docker-terminal-emulator .projects .projects-container::after {
  content: "";
  flex: auto;
}
#docker-terminal-emulator .projects .project {
  padding: 10px;
  min-width: 200px;
  border: 4px solid #4a67b9;
  margin-right: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
}
#docker-terminal-emulator .projects .project .commands .command {
  display: flex;
  margin-bottom: 8px;
}
#docker-terminal-emulator .projects .project .commands .command p {
  margin-right: 10px;
}
#docker-terminal-emulator .projects .project .commands .command button {
  margin-left: auto;
}
#docker-terminal-emulator .projects .project .project-buttons {
  display: flex;
  justify-content: space-between;
}
#docker-terminal-emulator .projects .project h3 {
  margin: 8px 0;
}
#docker-terminal-emulator .projects .project p {
  margin: 5px 0;
}
#docker-terminal-emulator .project-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px 0;
}
#docker-terminal-emulator .project-form::after {
  content: "";
  flex: auto;
}
#docker-terminal-emulator .project-form label input, #docker-terminal-emulator .project-form label textarea, #docker-terminal-emulator .project-form label select {
  width: 100%;
  margin: 10px 0;
  box-sizing: border-box;
  border: none;
  padding: 5px;
}
#docker-terminal-emulator .project-form label input, #docker-terminal-emulator .project-form label select {
  height: 30px;
}
#docker-terminal-emulator .project-form label select[multiple] {
  height: auto;
  min-height: 30px;
}
#docker-terminal-emulator .project-form .command-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 0px 0px 1px 0px white;
  margin: 10px 0;
}
#docker-terminal-emulator .project-form .command-form label {
  padding: 10px;
  box-sizing: border-box;
}
#docker-terminal-emulator .project-form .command-form label.active {
  flex: 1 0 50px;
}
#docker-terminal-emulator .project-form .command-form label.active input {
  width: 30px;
  display: block;
}
#docker-terminal-emulator .project-form .command-form label.name, #docker-terminal-emulator .project-form .command-form label.service, #docker-terminal-emulator .project-form .command-form label.action {
  flex: 6 3 300px;
}
#docker-terminal-emulator .project-form .command-form label.dependencies {
  flex: 6 3 300px;
}
#docker-terminal-emulator .project-form .command-form label.text {
  flex: 14 10 600px;
}
#docker-terminal-emulator .project-form .command-form .buttons {
  width: 100%;
  padding: 10px;
  text-align: right;
}
#docker-terminal-emulator .term {
  padding: 1px;
  box-sizing: border-box;
  background: red;
  color: white;
  margin-bottom: 30px;
}
#docker-terminal-emulator .term.fake {
  width: 595px;
  background-color: transparent;
  visibility: hidden;
}
#docker-terminal-emulator .term.connected {
  background: #4a67b9;
}
#docker-terminal-emulator .term .term-buttons {
  padding-left: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#docker-terminal-emulator .term .term-buttons > * {
  line-height: 24px;
}
#docker-terminal-emulator .term .term-buttons .pid {
  align-self: flex-start;
  padding-right: 5px;
  border-right: 1px solid white;
  margin: 1px 5px;
}
#docker-terminal-emulator .term .term-buttons .initial-command {
  font-weight: bold;
  margin: 1px 5px;
}
#docker-terminal-emulator .term .term-buttons button {
  align-self: flex-end;
  background: transparent;
  border: 1px solid;
  padding: 0;
  width: 24px;
  font-size: 18px;
  margin: 1px;
  box-sizing: content-box;
  text-align: center;
}
#docker-terminal-emulator .term .xterm .xterm-selection div {
  background-color: rgba(10, 30, 170, 0.3);
}

/* General styles */
body {
  margin: 0px;
  background-color: white;
  font-family: sans-serif;
}
body.modal-open {
  overflow: hidden;
}

button {
  background-color: #4a67b9;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*# sourceMappingURL=style.css.map */
